.work{
    display: flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    min-height: 80vh;
    padding-top:5rem ;
    background:url('https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHdvcmt8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60') no-repeat center center/cover;
}
.work-list{
    display: flex;
    margin-top: 8rem;
}
.work h3{
    color:orangered;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: text-shadow 0.3s linear 0.1s;

}
.work h3:hover{
    text-shadow: 1px 1px 5px grey;
    transition: text-shadow 0.3s linear 0.1s;
}
.contact{
    margin-top: 50px;
}

#facebook{
    font-size: 35px;
    color: blue;
}
#github{
    font-size: 35px;
    color: black;
}
#email{
    font-size: 35px;
    color: red;
}
#insta{
    font-size: 35px;
    color: orangered;
}
.feedback{
    margin-top:20px;
}